// Place all the styles related to the busqueda_contenido controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    FONT: lighter small Verdana, Arial, 'MS Sans Serif';
    TEXT-TRANSFORM: none;
    COLOR: #3bbfce;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
